<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <meta name="renderer" content="webkit"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="${_csrf.headerName}" th:content="${_csrf.token}"/>    

    <!-- name="_csrf" name="_csrf_header" 提供个ajax 获取使用  -->
    <!-- 
        var token = $("meta[name='_csrf']").attr("content");  
        var header = $("meta[name='_csrf_header']").attr("content");  
		$(document).ajaxSend(function(e, xhr, options) {  
		    xhr.setRequestHeader(header, token);  
		}); 
     -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    </head>
    <body>
        <div th:if="${param.login_error}"
             th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
             <span th:text="${errorMsg}">Wrong input!</span>
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${#httpServletRequest.remoteUser}">
      sample_user
    </p>
</div>
        <form action="/login" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div><input type="submit" value="Sign In"/></div>
            <input type="checkbox" name="remember-me" value="true" th:checked="checked"/><p>Remember me ${_csrf}</p>
        </form>
    </body>
</html>
